body{
  text-align: center;
}
h1{
  background: orange;
  font-family: 'Lemon', cursive;
  font-size: 50px;
}
section{
  /*outline: 1px solid red;*/
  width: 700px;
  height: 500;
  text-align: center;
  margin-left: 300px;
}
section:hover{
  background: #fff;
}

div{
    display: inline-block;
}

img{
  width: 200px;
  height: 200px;
  margin: 5px;
  /*-webkit-filter: contrast(50%);*/
  border-radius: 120px;
  border: 10px dotted #000000;
}
img:hover{
  filter: opacity(.5);
}

p{
  background: orange;
  margin: 2px;
  padding: 0px;
  border-radius: 5px;
}
.text:hover{
  background-color: #000000;
  color: #fff;
}
