body{

  text-align: center;
}
header{
  background: #f9a91a;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 30px;
}
section{
  /*outline: 1px solid red;*/
  width: 700px;
  height: 500;
  text-align: center;
  margin-left: 300px;
}
div{
    display: inline-block;
}

img{
  width: 200px;
  height: 200px;
  margin: 5px;
  -webkit-filter: contrast(40%);
  border-radius: 105px;
  border: 10px dotted #000000;
}

p{
  font-family: 'Cinzel', serif;
  background: #f9a91a;
  margin: 2px;
  padding: 0px;
  border-radius: 5px;
}
.text:hover{
  background-color: #000000;
  color: #fff;
}
